body {
   
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100vw;
    
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__logo {
        position: relative;
        margin-left: 30px;
        margin-top: 10px;

    }

    .logo {
        position: absolute;
        top: 14px;
        right: -10px;
    }

    span {
        font-weight: 100;
    }

    h1 {
        font-size: 24px;
        color: white;
        text-align: center;
        font-weight: 300;
        margin-top: 15px;
        
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 50px
    }

    li {
        color: white;
        list-style: none;
        padding: 40px 30px;
        font-weight: 200;
    }  
} 



