body {
    background-image: url('./asset/bg.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__logo {
        position: relative;
        margin-left: 20px;

    }

    .logo {
        position: absolute;
        top: 21px;
        right: -10px;
    }

    span {
        font-weight: 100;
    }

    h1 {
        color: white;
        text-align: center;
        font-weight: 300;
        
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 50px
    }

    li {
        color: white;
        list-style: none;
        padding: 20px 25px;
        font-weight: 200;
    }  
}


.container {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .intro {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 150px;
    
        .intro__title {
            color: white;
            font-weight: 400;
            font-size: 44px;
            width: 600px;
    
        }

        .intro__button {
            background-color: white;
            width: 250px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50px;


            p {
                color: black;
                text-align: center;
                font-size: 24px;
                
            }
        }

        .intro__text {
            font-weight: 100;
            width: 250px;
            text-align: center;
            font-size: 14px;
            
        }
    
    
    }
        

}


